/target/
zookeeper.out
/nb-configuration.xml
start_zookeeper_container.sh
start_local_zookeeper.sh
Remove_created_docker_containers.sh

docker-cleanup-volumes.sh
/dockerImages/

/broker/nbactions.xml
/broker/nb-configuration.xml
/broker/target/
/broker/nbproject/

/core/src/main/resources/maestro/
/core/src/main/resources/data-broker/
/core/src/main/resources/web-broker/
/core/src/main/resources/business-broker
/core/src/main/resources/schemaWithAttr.xsd
/core/src/main/resources/termProcs.sh
/core/src/main/resources/old_schemas/
/core/src/main/resources/dependency-jars/
/core/src/main/resources/broker.jar
/core/src/main/resources/xmlTest3.xml
/core/src/main/resources/testSchema3.xsd
/core/src/main/resources/testCases/2tierapp/
/core/src/main/resources/business2-broker/business2
/core/target/
/core/nbproject/
/core/nbactions.xml
/core/nb-configuration.xml
/commons/
/bck/
/custom containers/
/doxygen
/uml/